@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: 'Manrope', sans-serif;
	}

	.material-symbols-outlined {
		font-variation-settings:
			'FILL' 0,
			'wght' 400,
			'GRAD' 0,
			'opsz' 24;
	}

	.hero-gradient-overlay {
		background: linear-gradient(
			90deg,
			rgba(26, 26, 26, 0.95) 0%,
			rgba(26, 26, 26, 0.7) 50%,
			rgba(26, 26, 26, 0.4) 100%
		);
	}
}
