# Architecture Studio Template
# Powered by CREATE SOMETHING Canon

name = "architecture-studio-template"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

pages_build_output_dir = ".svelte-kit/cloudflare"

[vars]
ENVIRONMENT = "production"
