// This file was auto-generated by Fern from our API Definition.

import * as CloudflareApi from "./api/index.js";
import type { BaseClientOptions, BaseRequestOptions } from "./BaseClient.js";
import { normalizeClientOptions, type NormalizedClientOptions } from "./BaseClient.js";
import * as core from "./core/index.js";
import { mergeHeaders } from "./core/headers.js";
import * as environments from "./environments.js";
import { handleNonStatusCodeError } from "./errors/handleNonStatusCodeError.js";
import * as errors from "./errors/index.js";

export declare namespace CloudflareApiClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CloudflareApiClient {
    protected readonly _options: NormalizedClientOptions<CloudflareApiClient.Options>;

    constructor(options: CloudflareApiClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Public link configuration.
     *
     * @param {CloudflareApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.ServiceUnavailableError}
     *
     * @example
     *     await client.getLink()
     */
    public getLink(requestOptions?: CloudflareApiClient.RequestOptions): core.HttpResponsePromise<CloudflareApi.Link> {
        return core.HttpResponsePromise.fromPromise(this.__getLink(requestOptions));
    }

    private async __getLink(
        requestOptions?: CloudflareApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.Link>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "api/v1/links/createsomething/together",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.Link, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 503:
                    throw new CloudflareApi.ServiceUnavailableError(
                        _response.error.body as CloudflareApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/api/v1/links/createsomething/together",
        );
    }

    /**
     * Fails closed when Calendar is uncertain.
     *
     * @param {CloudflareApi.ListAvailabilityRequest} request
     * @param {CloudflareApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CloudflareApi.ServiceUnavailableError}
     *
     * @example
     *     await client.listAvailability({
     *         from: "from",
     *         to: "to",
     *         timezone: "timezone"
     *     })
     */
    public listAvailability(
        request: CloudflareApi.ListAvailabilityRequest,
        requestOptions?: CloudflareApiClient.RequestOptions,
    ): core.HttpResponsePromise<CloudflareApi.Availability> {
        return core.HttpResponsePromise.fromPromise(this.__listAvailability(request, requestOptions));
    }

    private async __listAvailability(
        request: CloudflareApi.ListAvailabilityRequest,
        requestOptions?: CloudflareApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<CloudflareApi.Availability>> {
        const { from: from_, to, timezone, durationMinutes } = request;
        const _queryParams: Record<string, unknown> = {
            from: from_,
            to,
            timezone,
            durationMinutes,
        };
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CloudflareApiEnvironment.Default,
                "api/v1/availability",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CloudflareApi.Availability, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 503:
                    throw new CloudflareApi.ServiceUnavailableError(
                        _response.error.body as CloudflareApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CloudflareApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/availability");
    }

    /**
     * Make a passthrough request using the SDK's configured auth, retry, logging, etc.
     * This is useful for making requests to endpoints not yet supported in the SDK.
     * The input can be a URL string, URL object, or Request object. Relative paths are resolved against the configured base URL.
     *
     * @param {Request | string | URL} input - The URL, path, or Request object.
     * @param {RequestInit} init - Standard fetch RequestInit options.
     * @param {core.PassthroughRequest.RequestOptions} requestOptions - Per-request overrides (timeout, retries, headers, abort signal).
     * @returns {Promise<Response>} A standard Response object.
     */
    public async fetch(
        input: Request | string | URL,
        init?: RequestInit,
        requestOptions?: core.PassthroughRequest.RequestOptions,
    ): Promise<Response> {
        return core.makePassthroughRequest(
            input,
            init,
            {
                baseUrl: this._options.baseUrl ?? this._options.environment,
                headers: this._options.headers,
                timeoutInSeconds: this._options.timeoutInSeconds,
                maxRetries: this._options.maxRetries,
                fetch: this._options.fetch,
                logging: this._options.logging,
            },
            requestOptions,
        );
    }
}
