@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: 'Epilogue', sans-serif;
	}

	.text-outline {
		-webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
		color: transparent;
	}

	.material-symbols-outlined {
		font-variation-settings:
			'FILL' 0,
			'wght' 400,
			'GRAD' 0,
			'opsz' 24;
	}
}
